@font-face {
  font-family: "Avenir Next";
  src: url("../assets/AvenirNext-Regular.ttf")
}
@font-face {
  font-family: "Avenir Next Condensed";
  src: url("../assets/AvenirNextCondensed-Regular.ttf")
}
body{
  font-family: Helvetica;
  background-color: #D3D3D3;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url('../assets/Sunset.jpg');
}
a:link{
  text-decoration: none;
  color: black;
}
a:visited{
  color: black;
}
.content{
  font-family: "Avenir Next";
  background-color: rgba(131, 96, 115, 0.9);
  position: absolute;
  padding: 2em;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin: -325px 0 0 -600px;
}
.nav{
  position: relative;
  border-right: 2px solid black;
  padding-right: 20px;
  display: inline-block;
  float: left;
}
.about{
 display: inline-block;
 float: right;
 padding-left: 20px;
}
  .block{
    padding: 2em;
  }
  .title{
    font-family: "Avenir Next";
    font-size: 30px;
    display: inline-block;
    float: left;
    border-right: 2px solid black;
    padding: .8em;
    margin-right: 1em;
  }
  .info{
    font-family: "Avenir Next Condensed";
    font-size: 20px;
    padding: 0 75px 0 75px;
    text-align: left;
  }
.profPic{
  position: relative;
  float: left;
  margin: 0 0 0 1em;
}
  .profPic img{
    border-radius: 50%;
    border: 2px solid black;
    height: 380px;
    width: 380px;
    padding: 1em;
    opacity: 0.8;
  }
.name{
  position: relative;
  margin-top: 10px;
  font-size: 40px;
}
#resume{
  position: relative;
  font-family: "Avenir Next Condensed";
  font-size: 30px;
  display: inline-block;
  border: 2px solid rgba(255,255,255,0);
  padding: 5px;
  margin-right: .50em;
  margin-left: 1.6em;
}
  #resume:hover{
    border: 2px solid black;
    border-radius: 10px;
  }
#projects{
  position: relative;
  font-family: "Avenir Next Condensed";
  font-size: 30px;
  display: inline-block;
  border: 2px solid rgba(255,255,255,0);
  padding: 5px;
  margin-right: .50em;
}
  #projects:hover{
    border: 2px solid black;
    border-radius: 10px;
  }
#book{
  position: relative;
  font-family: "Avenir Next Condensed";
  font-size: 30px;
  display: inline-block;
  border: 2px solid rgba(255,255,255,0);
  padding: 5px;
}
  #book:hover{
    border: 2px solid black;
    border-radius: 10px;
  }
.email{
  font-family: "Avenir Next Condensed";
  text-align: center;
  position: relative;
  margin-top: 10em;
}
.email a{
  display: inline-block;
}
@media only screen and (max-width: 1200px){
  .name{
    width: 100%;
    font-size: 6vw;
    text-align: center;
    margin: 0 0 0 0;
  }
  .content{
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    margin: 0 0 0 0;
    padding: 0;
  }
  .profPic{
    text-align: center;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
    padding-bottom: 20px;
  }
  .profPic img{
    width: 50%;
    height: auto;
    margin: 0 0 0 0;
  }
  .about{
    display: block;
    float: none;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
  }
  .nav{
    display: block;
    border-right: 0px solid black;
    float: none;
    padding-right: 0px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 0 0 0;
  }
  .title{
    display:block;
    float: none;
    border-right: 0px solid black;
    width: 25%;
    margin: 0 0 0 0;
    padding: 0;
  }
  .info{
    font-size: 4vw;
    width: 75%;
    margin: 0 0 0 0;
    padding: 0;
  }
  .block{
    padding: 0px;
    margin: 0 0 0 0;
    padding: 0;
  }
  #resume, #projects, #book{
    margin: 0 0 0 0;
    padding: 0;
  }
  .links{
    text-align: center;
  }
}
