@font-face {
  font-family: "Avenir Next Condensed";
  src: url("../assets/AvenirNextCondensed-Regular.ttf")
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/AvenirNext-Regular.ttf")
}
@media screen and (max-width: 1200px) {
  .topnavbar li {float: none;}
  html{background: rgba(250, 128, 114, .6)}
}
* {
  box-sizing: border-box;
}
html{
  font-family: "Avenir Next Condensed";
  background-color: black;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-image: url('../assets/Sunset.jpg');
  background-repeat: no-repeat;
}
.topnavbar {
  font-family: "Avenir Next Condensed";
  background-color: rgba(131, 96, 115, 0.7);
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.topnavbar li {
  float: left;
}
.topnavbar li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnavbar li a.active{
  background-color: rgba(131, 96, 115, 1.0);
}
.topnavbar li a:hover {
  background-color: rgba(131, 96, 115, 1.0);;
}
.next, .bl{
  display: none;
  padding: .5em;
  background-color: rgba(131, 96, 115, 0.7);;
  height: 100%;
  text-align: center;
}
.lb, .btb{
  height: 100%;
  display: none;
  padding: .5em;
  background-color: rgba(131, 96, 115, 0.7);;
  border-radius: 10px;
  text-align: center;
}
.wo{
  overflow: auto;
  display: none;
  background-color: rgba(131, 96, 115, 0.7);
  height: auto;
  border-radius: 10px;
  text-align: center;
}
.ig{
  overflow: auto;
  display: block;
  background-color: rgba(131, 96, 115, 0.7);
  height: auto;
  border-radius: 10px;
  text-align: center;
}
.pageImg{
  margin: 1em;
}
.pageImg img{
  border-radius: 10px;
  width: 50%;
  height: auto;
}
.wo img{
  border-radius: 10px;
  width: 80%;
  height: auto;
}
.title{
  font-family: "Avenir Next";
  font-size: 2vw;
  margin-top: .20em;
  width: 100%;
}
.blurb{
  position: relative;
  font-family: "Avenir Next Condensed";
  width: 100%;
  height: auto;
  font-size: 1vw;
  margin-top: 1em;
  margin-bottom: 1em;
}
.pdf{
  width: 100%;
}
#port{
  font-size: 1.2vw;
}
a:link{
  color: black;
}
.list li{
  list-style-type: none;
}
@media only screen
and (max-width : 1200px)
{
  .pageImg img{
    width: 100%;
  }
  .blurb{
    display: block;
    font-size: 4vw;
  }
  .title{
    display: block;
    font-size: 6vw;
  }
  #port{
    font-size: 7vw;
  }
  .pdf{
    display: none;
  }
}
