@font-face {
  font-family: "Avenir Next Condensed";
  src: url("../assets/AvenirNextCondensed-Regular.ttf")
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/AvenirNext-Regular.ttf")
}
@media screen and (max-width: 1200px) {
  .topnavbar li {float: none;}
  html{background: rgba(250, 128, 114, .6)}
}
html{
  font-family: "Avenir Next Condensed";
  background-color: black;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-image: url('../assets/Sunset.jpg');
  background-repeat: no-repeat;
}
.topnavbar {
  font-family: "Avenir Next Condensed";
  background-color: rgba(131, 96, 115, 0.7);
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.topnavbar li {
  float: left;
}
.topnavbar li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnavbar li a.active{
  background-color: rgba(131, 96, 115, 1.0);
}
.topnavbar li a:hover {
  background-color: rgba(131, 96, 115, 1.0);;
}
.next, .lb, .bl{
  display: none;
  padding: .5em;
  background-color: rgba(131, 96, 115, 0.7);;
  height: auto;
  border-radius: 10px;

}
.wo{
  display: block;
  background-color: rgba(131, 96, 115, 0.7);
  height: auto;
  border-radius: 10px;
  text-align: center;
}
.pageImg{
  display: inline-block;
  float: left;
  margin: 1em;
}
.pageImg img{
  border-radius: 10px;
}
.title{
  font-family: "Avenir Next";
  float: left;
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: 50px;
  margin-top: .20em;
}
.blurb{
  position: relative;
  font-family: "Avenir Next Condensed";
  text-align: left;
  float: left;
  width: 800px;
  height: 200px;
  font-size: 20px;
  margin-top: 40px;
}
.pdf{
  margin: 0 auto;
  float: none;
}
